<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/htmx.org@1.9.9/dist/htmx.min.js"></script>
  <script src="https://unpkg.com/clipboard@2/dist/clipboard.min.js"></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <title>DKLODD</title>

  <style>
    body {
      background-color: var(--bg-color, #1a202c);
      /* Default to light background color */
      color: var(--text-color, #ffffff);
      /* Default to dark text color */
    }
  </style>
</head>

<body>

  <header class="bg-gray-800 bg-opacity-75 fixed top-0 left-0 right-0 z-50 py-2 text-white italic transparent-header">
    <div class="container mx-auto">
      <h1 class="text-3xl font-bold ml-4 cursor-pointer" hx-get="/" hx-target="main" hx-push-url="true"
        hx-trigger="click">dklodd</h1>
    </div>
  </header>



  <main class="max-w-screen-md mx-auto mt-16 p-8">
    {{template "content" .}}
  </main>

</body>


</html>