<h2 class="text-2xl font-bold mb-4">{{.Message}} - {{.Id}}</h2>

<!-- 화면 새로 고침 버튼 -->
<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="button"
  onClick="window.location.reload()">Refresh</button>