<div x-data="{ openTab: 0 }">
  <div class="mb-4 flex space-x-4 p-2 rounded-lg shadow-md">
    {{range $index, $connect := .Connection}}
    <button x-on:click="openTab = {{$index}}" :class="{ 'bg-blue-600 text-white': openTab === {{$index}} }"
      class="flex-shrink-0 py-2 px-4 rounded-md focus:outline-none focus:shadow-outline-blue transition-all duration-300">{{$connect.Type}}</button>
    {{end}}
  </div>

  {{range $index, $connect := .Connection}}
  <div class="mb-6 flex gap-2" x-show="openTab === {{$index}}">
    <code class="bg-black text-white py-2 px-4 rounded border-2">{{$connect.Command}}</code>
    <button class="bg-black py-2 px-4 rounded border-2 btn" data-clipboard-text="{{$connect.Command}}"><img
        src="assets/copy.svg" width="16" height="16" style="filter: invert(100%);" /></button>
  </div>
  {{end}}
</div>

<progress class="w-full h-8 bg-blue-500 rounded-full" value="20" max="20" id="progressBar"></progress>


<button class="bg-red-500 hover:bg-red-700 text-white text-white font-bold py-2 px-4 rounded" hx-get="/{{.Id}}/del"
  hx-target="#challContainer">Stop</button>

<script>
  var clipboard = new ClipboardJS('.btn');

  clipboard.on('success', function (e) {
    alert("복사성공!");

    e.clearSelection();
  });

  clipboard.on('error', function (e) {
    alert("복사실패!");
  });
</script>

<script>
  var timeleft = 20;
  var downloadTimer = setInterval(function () {
    if (timeleft <= 0) {
      clearInterval(downloadTimer);
    }
    document.getElementById("progressBar").value = timeleft;
    timeleft -= 1;
  }, 1000);
</script>